::selection {
    color: var(--color-1-white);
    background: var(--color-5-black);
}

.contact-page-container {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.form-control:focus{
    border-color: transparent !important;
    box-shadow: none !important;
}

/* Style for the right section with the image */
.contact-left-section {
    /* text-align: center; */
    width: 50%;
}

.contact-left-section img {
    width: 100%;
    height: auto;
}

/* Style for the left section with the form */
.contact-right-section {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
}

.contact_bg {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}

.contact_bg p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form_box {
    margin-bottom: 20px;
}

/* Improved styling for input fields */
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}



/* Placeholder text styles */
input::placeholder,
textarea::placeholder {
    color: #999;
    /* Placeholder text color */
}

/* Button styling */
.contact-form-button button {
    /* background-color: #007bff; */
    color: #fff;
}

.contact-form-button:hover button {
    color: #000;
}

.socialLinks ul {
    padding: 0;
}

.socialLinks ul li a {
    display: inline-block;
    color: var(--color-5-black);
    height: 50px;
    width: 50px;
    line-height: 31px;
    background: #e1e0e0;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    margin-top: 5px;
    transition: .5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialLinks ul li a::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background: var(--color-3);
    border-radius: 50%;
    z-index: -1;
    transition: .5s;
}

.socialLinks a:hover:before {
    width: 100%;
}

.socialLinks ul li a:hover {
    background: var(--color-3);
    color: #fff;
}

/* Responsive styles for screen width up to 1440px */
@media screen and (max-width: 1440px) {
    .form_box {
        width: 100%;
    }
}

/* Responsive styles for screen width up to 1024px */
@media screen and (max-width: 1024px) {
    .col-lg-6 {
        width: 100%;
    }
}

/* Responsive styles for screen width up to 768px */
@media screen and (max-width: 768px) {
    .contact-page-container {
        flex-direction: column;
    }

    .contact-left-section {
        width: 100%;
    }

    .contact-right-section {
        width: 100%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .form_box textarea {
        width: 100%;
    }
}

/* Responsive styles for screen width up to 600px */
@media screen and (max-width: 600px) {
    .contact-page-container {
        flex-direction: column;
    }

    .contact-left-section {
        width: 100%;
    }

    .contact-right-section {
        width: 100%;
    }

    .contact_bg {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact_bg p {
        margin-top: 20px;
    }
}