
/* Styling for the footer section */
.footer {
    padding: 50px 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-bottom: 0;
}
.footer .container .row{
    justify-content: space-between ;
}
.footer a{
    list-style: none;
    text-decoration: none;
}
/* Styling for footer widget1 paragraph */
.footer .widget1 p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 26px;
}

/* Styling for social links in the footer */
.footer .socialLinks {
    margin-top: 28px;
    padding-left: 0;
}

.socialLinks ul li {
    display: inline-block;
}

.socialLinks ul li a  {
    display: block;
    margin: 0 2px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    background: #fafafa;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    line-height: 40px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Styling for the footer logo */
footer .logo {
    max-width: 200px;
}

/* Styling for footer heading */
.footer h5 {
    font-weight: 500;
    margin-bottom: 28px;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    font-size: 21px;
}
.footer ul{
    padding: 0;
}
/* Styling for media in footer widget2 */
.footer .widget2 .media img {
    margin-right: 20px;
    max-width: 100px;
}

.footer .widget2 .media p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    line-height: 26px;
}

.footer .widget2 .media span {
    font-size: 12px;
    color: var(--color-5-black);
    text-transform: uppercase;
    margin-top: 15px;
    display: block;
}

.footer .widget2 .media {
    margin-bottom: 20px;
}

/* Styling for links in footer widget3 and widget4 */
.footer .widget3 ul li a,
.footer .widget4 ul li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    text-transform: capitalize;
    margin-bottom: 13px;
    display: block;
}

/* Hover styling for links in footer widget3 and widget4 */
.footer .widget3 ul li a:hover,
.footer .widget4 ul li a:hover,
.footer .widget2 a:hover p {
    color: var(--color-1-white);
}

/* Styling for widget headings in the footer */
.footer .widget3 h5 {
    margin-bottom: 22px;
    font-weight: 600;
    color: #fff;
    font-size: 21px;
    line-height: 32px;
}

.footer .widget4 h5 {
    margin-bottom: 22px;
    font-weight: 600;
    color: #fff;
    font-size: 21px;
}

/* Styling for the copyright area */
.copyRightArea {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 25px 0 28px;
}

.copyRightArea p {
    color: rgba(255, 255, 255, 0.6);
}
.img-fluid{
    max-width: 50% !important;
    height: auto;
}
.footer-name{
    color: var(--color-1-white);
    text-decoration: underline !important; 
}