:root {
  --color-1-white: #eeeeee;
  --color-2: #d4d1d1;
  --color-3: #858383;
  --color-4: #3e3e3e;
  --color-5-black: #000000;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: clamp(1rem, 2vw, 1.125rem);
  font-weight: 400;
  line-height: 1.5;
  height: -webkit-fill-available;
  color: #000;
  background: #fff;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  background: none;
  box-shadow: none;
  text-decoration: none !important;
}


.btn {
  display: inline-block !important;
  text-decoration: none !important;
  background: #000116 !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  padding: 13px 35px 12px !important;
  position: relative !important;
  z-index: 1 !important;
  border: none !important;
  border-radius: 0 !important;
}

.btn {
  color: #fff;
}

.btn:hover {
  color: #fff;
} 

.btn:hover::before {
  opacity: 1;
  transform: scale(1);
}

.btn:hover::after {
  opacity: 1;
  transform: scale(1);
}

.btn::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 1, 0% 100%, 101% 100%);
  transform: scale(0);
  transform-origin: bottom left;
  background: var(--color-3);
  pointer-events: none;
  transition: .5s;
  z-index: -1;
  opacity: 0.5;
}


.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  clip-path: polygon(0 1, 101% 0%, 100% 100%);
  transform: scale(0);
  transform-origin: top right;
  background: var(--color-3);
  pointer-events: none;
  transition: .5s;
  opacity: .5;
  z-index: -1;
  height: 100%;

}

.scroll-area {
  opacity: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: opacity 0.4s, transform 2s ease-in-out, background-color 0.5s;
  transform: translateY(-100vh);
  background-color: var(--color-3);
  border-radius: 50%;
  padding: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.scroll-area.show {
  opacity: 1;
  transform: translateY(0);
}

.scroll-area .go-top {
  color: white;
  transition: color 1s;
}

.scroll-area:hover {
  background-color: var(--color-3);
  /* Ensure the background color stays black on hover */
}

.scroll-area:active {
  background-color: var(--color-4);
}

.grid-img {
  overflow: hidden;
}

.grid-img img {
  transition: all ease 2s;
}

.grid-img:hover img {
  scale: 1.3;
}

.page-loader {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: #000000;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: var(--color-3);
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .4em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .4em .4em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .4em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.4em .4em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.4em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.4em -.4em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.4em 0 0 currentcolor;
  }

  87% {
    box-shadow: .4em -.4em 0 0 currentcolor;
  }
}